
<div class="row">
  <h1>Agile Software Development</h1>
  
</div>
<p>There are different methods of software development. The most commonly used are waterfall and Agile.</p>
<p>Waterfall.</p>
<hr />
<div class="row">
  <h2>Auotmation and Test Strategy in agile</h2>
  <hr />
  <p>With quick release cycles in agile, testing is very important. Testers should aim to test early and often. Testing each stack of the application like database, service and UI helps catch bugs right away where it exists</p>
  <p>With early and often testing comes the value of automation. See the pyramid below</p>
 <img class="img-responsive" src="assets/pyramid.PNG">
</div>



