<div class="row">
  <h1>What is SDET?</h1>
  <p>
    SDET (SOftware development engineer in Test) is a member of Quality Engineering team who is a full stack QA. Unlike traditional QA
    SDET possess all testing skills needed to deliver a quality application. This includes functional and non-functional testing.
    SDET needs to have good understanding and hands on with programming languages and coding. Today many companies hire SDETs to write unit tests as well.
  </p>

  <div class="row">
    Lets talk about different types of functional and non functional testing.
  </div>

  <div class="row">
   
    <span>:</span>
    

  </div>
</div>
